*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f4f4;
}


/* Navbar */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:#0a2540;
color:white;
}

.nav-links{
list-style:none;
display:flex;
}

.nav-links li{
margin-left:20px;
}

.nav-links a{
text-decoration:none;
color:white;
}

.nav-links a:hover{
color:#00d9ff;
}


/* Hero Section */

.hero{
text-align:center;
padding:120px 20px;
background:linear-gradient(to right,#141e30,#243b55);
color:white;
}

.hero h1{
font-size:48px;
margin-bottom:20px;
}

.hero p{
font-size:18px;
margin-bottom:30px;
}

.hero button{
padding:12px 25px;
border:none;
background:#00d9ff;
color:black;
cursor:pointer;
}

.hero button:hover{
background:#00b4d8;
}


/* Features Section */

.features{
padding:80px 50px;
text-align:center;
background:white;
}

.feature-container{
display:flex;
justify-content:space-around;
margin-top:40px;
}

.feature-box{
background:#f0f0f0;
padding:30px;
width:250px;
border-radius:10px;
}


/* About Section */

.about{
padding:80px 100px;
text-align:center;
background:#e8e8e8;
}


/* Footer */

footer{
background:#0a2540;
color:white;
text-align:center;
padding:20px;
}
